.logo {
    width: 60px;
    height: 55px;
    border-radius: 20px;
    margin: 0 0 10px 0;
    max-width: 100%;
    max-height: 100%;
}

#google-logo {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
}

#navbar {
    background-color: rgb(36, 0, 100);
}

#navbar nav {
    display: flex;
    align-items: flex-start;
}

#navbar nav p {
    margin-left: 12px;
    font-size: large;
    color: white;
}

#navbar-logo {
    margin: 5px 1px 5px 10px;
}